<?xml version="1.0" encoding="utf-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
<servlet>
  <servlet-name>dataservlet</servlet-name>
  <servlet-class>student.servlets.DataServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>hintservlet</servlet-name>
  <servlet-class>HintServlet</servlet-class>
</servlet>
<servlet>
  <servlet-name>NextBus</servlet-name>
  <servlet-class>org.ux.NextBus</servlet-class>
</servlet>
<servlet-mapping>
   <servlet-name>dataservlet</servlet-name>
   <url-pattern>/dataservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
   <servlet-name>hintservlet</servlet-name>
   <url-pattern>/gethint</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>NextBus</servlet-name>
  <url-pattern>/nextbus</url-pattern>
</servlet-mapping>
<filter>
  <filter-name>utffilter</filter-name>
  <filter-class>
    student.servlets.UtfFilter
  </filter-class>
  <init-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </init-param>

</filter>

<filter-mapping>
  <filter-name>utffilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
